@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
    background-color: rgb(0, 0, 0);
    text-overflow: ellipsis;
}

::-webkit-scrollbar{
    width: 1px;
    height:0px;
    display: hidden;
}

::-webkit-scrollbar-track{
    background-color: rgba(10, 9, 9, 0.439);
    border-radius:5px;
}

::-webkit-scrollbar-thumb{
    background: rgba(144, 142, 142, 0.303);
    border-radius: 15px;
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-thumb:hover{
    background: #3f3f3f;
}

